.navbar {
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo {
  width: 150px;
}
.navbar-menu {
  display: flex;
  list-style: none;
  gap: 20px;
  color: #49557e;
  font-style: 18px;
}
.navbar-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbar button {
  font-size: 16px;
  background: transparent;
  color: #49557e;
  border: 1px solid tomato;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}
.navbar button:hover {
  background-color: #fff4f2;
}

/* .navbar .active {
  padding-bottom: 2px;
  border-bottom: 2px solid #49557e;
} */
.navbar li {
  cursor: pointer;
}

.navbar-search-icon {
  position: relative;
}
.navbar-search-icon .dot {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: tomato;
  border-radius: 5px;
  top: -8px;
  right: -8px;
}

@media screen and (max-width: 1050px) {
  .navbar .logo {
    width: 140px;
  }
  .navbar-menu {
    gap: 20px;
    font-size: 17px;
  }
  .navbar-right {
    gap: 30px;
  }
  .navbar-right img {
    width: 22px;
  }
  .navbar-right button {
    padding: 8px 25px;
  }
}
@media screen and (max-width: 900px) {
  .navbar .logo {
    width: 120px;
  }
  .navbar-menu {
    gap: 15px;
    font-size: 16px;
  }
  .navbar-right {
    gap: 20px;
  }
  .navbar-right img {
    width: 20px;
  }
  .navbar-right button {
    padding: 7px 20px;
    font-size: 15px;
  }
}
.menu-box {
  position: relative;
}
.menu {
  color: #61618c;
  font-size: 26px;
  cursor: pointer;
}
.menu-ListBox {
  position: absolute;
  width: 153.36px;
}
.menu-ListBox {
  position: absolute;
  background-color: #61618c;
  color: white;
  right: 0;
  top: 35px;

  z-index: 2;
}
.menu-ListBox li {
  list-style: none;
  padding: 10px 7px;
}
.menu-ListBox li:hover {
  background-color: gray;
}
.Toastify__close-button {
  border: none !important;
}
.Heading1 {
  color: tomato;
  cursor: pointer;
}
@media screen and (max-width: 320px) {
  .Heading1 {
    font-size: 18px;
  }
  .navbar-right {
    gap: 10px;
  }
}
@media screen and (min-width: 321px) and (max-width: 425px) {
  .Heading1 {
    font-size: 22px;
  }
}
@media screen and (max-width: 1024px) {
  .menu {
    font-size: 20px;
    padding-top: 3px;
  }
  .navbar-right img {
    padding-top: 3px;
  }
}

@media screen and (max-width: 750px) {
  .navbar-menu {
    display: none;
  }
}
